* {
  box-sizing: border-box;
  margin: 0;
}
body {
}

/* urgent color    
    #ff3d00
    rgba(255,61,0,255)
*/

/* medium color    
    #ffa800
    rgba(255,168,0,255)
*/

/* low color
    #7ae229
    rgba(122,226,41,255)
 */

main {
  display: flex;
}

aside {
  min-height: 100vh;
  width: 30%;
  background-color: #2a3647;
  background-color: rgba(42, 54, 71, 255);
  box-sizing: border-box;
}

 .app-logo {
  display: flex;
  padding: 25%;
   margin-bottom: 80px; 
} 

.vorschlage:hover {
  background-color: #2a3e59;
  transform: scale(1.03);
}

.check {
  display: flex;
  flex-wrap: wrap;
  height: 100px;
}

a {
  text-decoration: none;
}

.d_flex_c_c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d_flex_sb_c {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-item{
  display: flex;
  gap: 32px;
  color: white;
}

/* Füge die Hervorhebung hinzu */
.smallcard.highlight {
  background-color: lightblue;
}
