<div>
    <img class="app-logo" src="assets/img/Join logo vector.svg" alt="">

    <div style="display: flex; flex-direction: column; gap: 16px; padding: 1.5%; box-sizing: border-box;">

        <img class="hier den name vorschlage " src="assets/img/Summary.svg" alt="">
        <img class="hier den name vorschlage " src="assets/img/Add Task.svg" alt="">
        <img class="hier den name vorschlage " src="assets/img/Board.svg" alt="">
        <img class="hier den name vorschlage " src="assets/img/Contacts.svg" alt="">
    </div>
</div>